html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}
.header {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.navbar-brand {
	font-size: 2.5rem;
	font-weight: bolder;
	line-height: 15px;
}
#myNavbar {
	float: right;
	margin-right: 100px;
	font-size: 1.5rem;
	font-weight: bold;
}
.navbar {
	border-radius: 0;
}
.wrapper {
	background-color: rgb(150, 250, 50);
	height: 100vh;
	width: auto;
	.background {
		font-size: 4rem;
		font-style: italic;
		padding: 5px;
		margin-bottom: 1%;
		font-weight: 800;
		color: #fff;
		#h {
			font-family: 'Cookie', 'cursive';
			font-size: 6rem;
			font-weight: 800;
			text-shadow: #000 2px 2px 3px;
		}
		.move {
			//float: right;
			/*margin-top: -100px;
			margin-right: 100px;*/
			#form {
				height: 30px;
				width: 200px;
			}
			#button {
				height: 30px;
				margin-top: -8px;
				margin-left: -10px;
			}
		}
	}
}
.inner_wrapper {
	width: 80%;
	margin: auto;
	height: auto;
	position: relative;
}
.container {
	width: auto;
	padding: 0;
}

.slide {
	width: auto;
	height: auto;
	margin-top: -29px;
	h4 {
		color: white;
		text-align: center;
		font-weight: 600;
		text-transform: capitalize;
		padding-top: 15rem;
		font-size: 2.5em;
		font-family: 'Open Sans', sans-serif;
		text-shadow: #111 2px 3px 2px;
	}
	.btn {
		padding: 15px 20px;
		border-radius: 0px;
		background: #f03743;
		color: #fff;
		&:hover {
			background: #fff;
			color: #f03743;
			border-radius: 3px;
		}
	}
	#item-1 {
		background: url(../img/background.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		height: 74.5vh;
		background-position: center;
	}
	#item-2 {
		background: url(../img/pexels-photo-134575.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		height: 74.5vh;
		background-position: center;
	}
	#item-3 {
		background: url(../img/pexels-photo-302474.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		height: 74.5vh;
		background-position: center;
	}
}
.info {
	margin-top: 0px;
	height: auto;
	width: auto;
	font-family: 'cursive';
	//	text-align: center;
}
.img_holder {
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 200px;
	//	border-radius: 5px;
	margin-top: 40px;

}
p {
	font-family: cursive;
	font-weight: 200;
	font-size: 1.5;
	padding-top: 3px;
	line-height: normal;
}
.services {
	height: auto;
	width: auto;
}
button {}
#question {
	background: rgb(150, 250, 50);
	color: white;
	margin-bottom: 10px;
}
#contact {
	background: red;
	color: white;
}
h1 {
	text-align: center;
	color: white;
	font-family: 'Cookie', 'cursive';
}
.icon {
	clear: both;
	margin-top: 1.2em;
	padding: 90px 0 90px;
	text-align: center;
	font-family: cursive;
	i {
		border: 1px solid white;
		height: 80px;
		width: 80px;
		padding: 25px 20px;
		border-radius: 50%;
		color: white;
		background-color: rgb(150, 250, 50);
	}
	h2 {
		margin: 20px 0 20px;
		color: #4c4c4c;
	}
	h4 {
		margin: 20px 0 20px;
		color: #4c4c4c;
	}
	p {
		font-size: 14px;
		padding-bottom: 40px;
	}
	strong {
		font-size: 30px;
	}
}
.footer {
	height: 15vh;
	clear: both;
	width: 100%;
	background-color: rgb(150, 250, 50);
	color: black;
	//margin-bottom: -11px;
	.foot > .col-md-4 {
		text-align: center;
		font-family: cursive;
	}
	.foot >h5 {
		text-align: center;
		font-family: cursive;
	}
	h5 {
		color: white;
		font-family: cursive;
		font-weight: bold;
		font-size: 2rem;
	}
	li {
		font-family: cursive;
		color: white;
	}
	.connect {
		text-align: center;
		ul {
			margin-left: 4em;
			list-style: none;
			display: block;
			position: relative;
		}
		li {
			float: left;

			//padding: 10px;
			margin-left: 10px;
			a {

				padding: 20px;

			}
		}
	}
}
.inner-foot {
	clear: both;
	height: 8vh;
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
	margin-top: 0px !important;
	h5 {
		padding-top: 30px;
	}
}
